* {
  background-color: #0f172a !important;
  color: #e2e8f0;
}

p {
  color: #94a3b8;
}

li {
  color: #94a3b8;
}

.link {
  color: #e2e8f0;
  transition: color 1.6s ease;
}

.link:hover {
  /* color: #00FF66; */
  color: #FFB000;
  transition: color .3s ease;
}

.svg {
  fill: #e2e8f0;
  transition: fill 1.6s ease;
}

.svg:hover {
  fill: #FFB000;
  transition: fill .3s ease;
}

.card {
  color: #e2e8f0;
}

.sticky-sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
}

.badge.badge-pill {
  background-color: #2C394B !important;
  color: #94a3b8;
}

.underline {
  text-decoration: underline;
}
