* {
  background-color: rgb(15 23 42);
  color: #e2e8f0;
}

p {
  color: #94a3b8;
}

li {
  color: #94a3b8;
}

.link {
  color: #e2e8f0;
  transition: color .4s ease;
}
.link:hover {
  color: #00FF66;
  /* color: rgb(94 234 212); */
  transition: color 1s ease;
}

.svg:hover {
  fill: #00FF66;
  transition: fill 1s ease;

}
.svg {
  fill: #e2e8f0;
  transition: fill 1s ease;

}
