@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

* {
  background-color: #0f172a !important;
  color: #e2e8f0;
  font-family: Sofia Sans;
}

@media (min-width: 992px) {
  .one {
    position: fixed;
  }
}

@media (max-width: 992px) {
  .navLinks h5 {
    text-decoration: none;
  }
}

p {
  color: #94a3b8;
  font-family: sans-serif;
}

li {
  color: #94a3b8;
}

.link {
  color: #e2e8f0;
  transition: color 1.6s ease;
}

.link:hover {
  /* color: #2CFA1F; */
  color: #FFB000;
  transition: color .3s ease;
}

.navlink {
  color: #94a3b8;
  transition: color 1.6s ease;
  text-decoration: none;
}

.navlink:hover {
  /* color: #2CFA1F; */
  color: #FFB000;
  transition: color .3s ease;
}

.svg {
  /* fill: #e2e8f0; */
  fill: #94a3b8;
  transition: fill 1.6s ease;
}

.svg:hover {
  fill: #FFB000;
  /* fill: #2CFA1F; */
  transition: fill .3s ease;
}

.badge.badge-pill {
  background-color: #2C394B !important;
  color: #94a3b8;
}

.highlight {
  text-decoration: underline;
  color: #e2e8f0;
  transition: color .6s ease;

}


.custom-container {
  max-width: 1200px !important;
}

.formInput {
  color: #e2e8f0 !important;
}

.formInput::placeholder {
  color: #94a3b8 !important;
}

.btn {
  border-color: #dee2e6 !important;
  color: #94a3b8 !important;
  transition: color 1.6s ease, border-color 1.6s ease !important;
}

.btn:hover {
  border-color: #FFB000 !important;
  color: #FFB000 !important;
  transition: color .3s ease, border-color .3s ease !important;
}


